body {
	margin:0px;
}
#logo {
	text-align:center;
	position:relative;
	top:60px;
}
#logoid {
	height:100px;
}
#companyname {
	color:white;
}
#companytop {
	font-family:Century Gothic;
	font-size:20pt;
}
#companybottom {
	font-family:Arial Black;
}
#motto {
	color:white;
	font-size:42pt;
	font-family:Century Gothic;
	font-weight:bold;
}
#findout {
	color:white;
	/*
	background-color:rgb(255,191,0);
	*/
	background-color:rgba(255,191,0,0.6);
	height:60px;
	width:200px;
	margin: 0 auto;
	font-family:Arial;
	/*
	opacity:0.6;
	*/
	position:relative;
	top:-20px;
}
#calcorm {
	opacity:1.0;
	line-height:60px;
}
#div1 {
	width:100%;
	height:600px;
	background-image:url('http://cutandjacked.com/sites/default/files/images/articles/Best_of_oldschool_10/IujNflt.gif');
	background-repeat:no-repeat;
	background-size:100%;
}
#div2 {
	width:100%;
	height:750px;
	background-color:white;
	text-align:center;
}
#div3 {
	width:100%;
	height:270px;
	background-color:rgb(255,191,0);
	text-align:center;
}
#services {
	color:rgb(115,205,210);
	font-size:42pt;
	font-family:Century Gothic;
	font-weight:bold;
	position:relative;
	top:20px;
}
#description {
	color:rgb(100,100,100);
	font-size:11pt;
	font-family:Lucida Sans Unicode;
}
#inner1 {
	height:350px;
	width:275px;
	background-color:white;
	position:relative;
	display:inline-block;
	vertical-align:top;
}
#inner2 {
	height:350px;
	width:275px;
	background-color:white;
	position:relative;
	display:inline-block;
	border-left:150px solid white;
	border-right:150px solid white;
	vertical-align:top;
}
#inner3 {
	height:350px;
	width:275px;
	background-color:white;
	display:inline-block;
	vertical-align:top;
}
#concepttitle {
	width:100%;
	color:rgb(115,205,210);
	font-family:Century Gothic;
	font-weight:bold;
	font-size:16pt;
}
#conceptimage {
	width:100%;
	height:150px;
	background-image:url('http://i.imgur.com/VQRWMpt.png');
	background-repeat:no-repeat;
	background-size:100%;
}
#trainingimage {
	width:100%;
	height:150px;
	background-image:url('http://i.imgur.com/NeAH6Kc.png');
	background-repeat:no-repeat;
	background-size:100%;
}
#competitionimage {
	width:100%;
	height:150px;
	background-image:url('http://www.dorianyatesnutrition.com/files/1813/7223/8527/dyolympia.jpg');
	background-repeat:no-repeat;
	background-size:100%;
}
#concepttext {
	color:rgb(100,100,100);
	font-size:11pt;
	font-family:Lucida Sans Unicode;
}
#findoutmore {
	border:2px solid rgb(100,100,100);
	width:200px;
	height:50px;
	margin:0 auto;
	font-family:Lucida Sans Unicode;
	font-size:9pt;
	line-height:50px;
	color:rgb(100,100,100);
}
#foot1 {
	height:200px;
	width:325px;
	position:relative;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	color:white;
	font-size:11pt;
	font-family:Lucida Sans Unicode;
}
#foot2 {
	height:200px;
	width:275px;
	position:relative;
	display:inline-block;
	border-left:170px solid rgb(255,191,0);
	border-right:150px solid rgb(255,191,0);
	vertical-align:top;
	color:white;
	font-size:11pt;
	font-family:Lucida Sans Unicode;
}
#foot3 {
	height:200px;
	width:275px;
	display:inline-block;
	vertical-align:top;
	color:white;
	text-align:left;
	font-size:11pt;
	font-family:Lucida Sans Unicode;
}
#spacer {
	width:100%;
	height:50px;
}
#ct {
	font-family:Century Gothic;
	font-size:16pt;
}
#dt {
	font-family:Century Gothic;
	font-weight:bold;
	font-size:16pt;
}
#copyright {
	font-size:9pt;
}
#infoot2 {
	width:160px;
	height:100%;
	float:right;
	text-align:left;
}
.orm.closed {
	overflow-y: hidden;
	max-height: 600px;
	height: 600px;
	width: 100%;
	background-color: rgba(255,191,0,0.6);
	position:relative;
	top:0px;

	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	
	-ms-transition-property: all;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.orm {
	max-height: 0px;
	position:relative;
	top:-10000px;
}
#ormslider {
	color:white;
	background-color:rgba(255,191,0,0.6);
	font-family:Lucida Sans Unicode;
	text-align:center;
	font-size:14pt;
}
#closeormcontainer {
	width:80%;
	height:20px;
	text-align:right;
	position:relative;
}
#ormcalctitle {
	font-size:20pt;
	width:100%;
	font-family:Century Gothic;
	position:relative;
}
#ormcalcoptions {
	position:relative;
	width:50%;
	margin:0 auto;
	text-align:left;
}
#ormtable {
	width:100%;
	height:220px;
	text-align:right;
}
.exercise {
	width:50%;
	text-align:left;
}
.inputamt {
	width:25%;
}
#calcormbutton {
	width:200px;
	height:60px;
	display:inline-block;
	vertical-align:top;
	line-height:60px;
	border:2px solid white;
}
#calcormbutton:hover {
	border:2px solid rgb(115,205,210);
	background-color:rgb(115,205,210);
	cursor:pointer;
}
.ajwinput {
	width:70%;
	height:50%;
	padding: 10px;
  	border: solid 1px gainsboro;
	-webkit-transition: box-shadow 0.3s, border 0.3s;
	-moz-transition: box-shadow 0.3s, border 0.3s;
	-o-transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
}
.ajwinput:focus, .ajwinput.focus {
	border: solid 1px #707070;
	-webkit-box-shadow: 0 0 5px 3px #969696;
	-moz-box-shadow: 0 0 5px 3px #969696;
	box-shadow: 0 0 5px 3px #969696;
	outline: none;
}
#closeorm {
	height:30px;
	width:30px;
	border:2px solid white;
	text-align:center;
	line-height:30px;
	position:relative;
	float:right;
}
#closeorm:hover {
	cursor:pointer;
	border:2px solid rgb(115,205,210);
	background-color:rgb(115,205,210);
}
#imagecontainer {
	width:100%;
}
#imagebox {
	margin:0 auto;
	width:20%;
}
