/*
Main color palette:
    #181818 - background
    #212121 - menu
    #3D3D3D - hover
    #FFFFFF - primary text
    #AAAAAA - secondary text
*/

html {
	 font-family: Verdana;
}

body {
	background-color: #181818;
}

a {
	text-decoration: underline;
	color: #AAAAAA;
}
