/*
Main color palette:
    #181818 - background
    #212121 - menu
    #3D3D3D - hover
    #FFFFFF - primary text
    #AAAAAA - secondary text
*/

body {
 background-color: #181818;
 font-family: Verdana;
 color: #FFFFFF;
 margin: 0px;
 width: 100vw;
 height: 100vh;
 overflow: auto;
}

#topbar {
 width: 100%;
 height: 10vh;
 background-color: #212121;
 position: fixed;
 top: 0px;
 left: 0px;
 z-index: 999;
}

#topbar-spacer {
 width: 100%;
 height: 10vh;
}

#topbar-logo-container {
 height: 100%;
 float: left;
 padding-top: 0.5vh;
}

#topbar-title-container {
 height: 100%;
 float: left;
 display: table;
}

#topbar-menu-container {
 height: 100%;
 float: right;
 padding-top: 2.5vh;
 padding-right: 5vw;
 position: relative;
}

#topbar-logo-img {
 width: 9vh;
 height: 9vh;
 object-fit: contain;
}

#topbar-menu-cover {
 width: 5vh;
 height: 5vh;
 z-index: 2;
}

#topbar-menu-box {
 position: absolute;
 left: 0px;
 top: 0px;
}

#topbar-menu-img {
 width: 5vh;
 height: 5vh;
 object-fit: contain;
 filter: invert(1);
}

.menu-hide {
 background-color: inherit;
}

.menu-show {
 background-color: #3D3D3D;
}

#topbar-title {
 font-weight: 600;
 font-size: 1.5em;
 display: table-cell;
 vertical-align: middle;
}

#content {
 width: 100%;
 background-color: #181818;
}
