html {
  background-color: #e6e6e6;
  color: #363636;
  font-family: 'Raleway', 'Lato', sans-serif;
}

a {
  color: #65ba9c;
}

a:hover {
  color: #ab3879;
}

.CFImagesTable {
  width: 100%;
}

.CFImagesTR {
  width: 100%;
}

.CFImage {
  height: 50vh;
}

.CFImageH1 {
  width: 100%;
  text-align: center;
}
