html {
  background-color: #e6e6e6;
  color: #363636;
  font-family: 'Raleway', 'Lato', sans-serif;
}

a {
  color: #65ba9c;
}

a:hover {
  color: #ab3879;
}

.CFImagesTable {
  width: 100%;
}

.CFImagesTR {
  width: 100%;
}

.CFImage {
  height: 50vh;
}

.CFImagesH1 {
  width: 100%;
  text-align: center;
}

.CFImagesH2, .CFImagesH2 table, .CFImagesH2 table tr {
  width: 100%;
}

.CFImagesH2 table tr td {
  width: 20%;
}

.CFImagesButton {
  width: 100%;
  height: 100%;
  border: 1px solid #363636;
  text-align: center;
  cursor: pointer;
}
