html {
  font-family: 'Raleway', 'Lato', sans-serif;
}

.hidden {
  display: none;
}

#SearchOutputDiv {
  width: 100%;
}

#SearchOutputTable {
  width: 100%;
}

#SearchOutputTable thead {
  font-weight: bold;
}

#SearchOutputTable tr {
  width: 100%;
}

.TableFieldCell {
  width: 24%;
}

.TableCheckboxCell {
  width: 5%;
}

.TableFieldCellPrice {
  width: 7%;
}

.TableFieldCellHours {
  width: 16%;
}

.RowDisplayCaught {
  color: grey;
}

.RowDisplayNew {
  background-color: rgb(209, 255, 221);
}

.RowDisplayLeaving {
  background-color: rgb(255, 209, 209);
}
