.hidden {
  display: none;
}

#SearchOutputDiv {
  width: 100%;
}

#SearchOutputTable {
  width: 100%;
}

#SearchOutputTable thead {
  font-weight: bold;
}

#SearchOutputTable tr {
  width: 100%;
}

#SearchOutputTable tr td {
  width: 20%;
}
