html, body {
    height: 100%;
    margin: 0;
    background-color: black;
}

#loadwrapper {
    min-height: 100%;
}

#loadtint {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: 1;
}

#loadcontent {
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 300%;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}

#test {
    color: blue;
}

#hiddenOutput, #output {
    color: white;
}