html, body {
    height: 100%;
    margin: 0;
    background-color: black;
}

#wrapper {
    min-height: 100%;
    background-color: white;
    opacity: 0.2;
}

#test {
    color: red;
}

#hiddenOutput, #output {
    color: white;
}