html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
}

#loadwrapper {
    min-height: 100%;
}

#loadtint {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: 1;
}

#loadcontent {
    position: absolute;
    height: 100%;
    width: 100%;
}

#loadp {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-size: 400%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#datacontainer {
    color: white;
    width: 100%;
    font-size: 200%;
}

.hideMe {
    display: none;
}

.showMe {
}

#header {
    width: 100%;
    color: #ffb3b3;
    text-align: center;
}

select:active, select:hover {
    outline: none;
}

#stopSelect {
    width: 100%;
    font-size: 100%;
    background-color: #404040;
    color: #ffb3b3;
    border-width: 0;
    outline: none;
}

.dataTableHeader {
    width: 100%;
    background-color: #808080;
}